.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.chart-container > div {
  margin: 10px 20px;
  min-width: 30%;
}
canvas {
  background-color: #fff;
  border-radius: 16px;
}
