/* .container-elipse{
  box-shadow: 0 0 12px -2px;
  height: 129px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
} */
/* .container-elipse{
  box-shadow: 0 0 12px -2px;
  border: 1px solid red;
  border-radius: 50px;
  
 
} */

.circulo{
  width: 190px;
  border: 1px solid #017ADB;;
  /* border-radius: 50px; */
  color: #017ADB;
  
}
.circulo:hover{
  background-color: #017ADB; 
  color: white;
  cursor: pointer;
}

.texto{
  font-size: 15px;
}