
.inputColor{
    border-color: #017ADB;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;

}

.botonIngresar{
    width: 190px;
 padding: 15px;
 background-color: transparent;
 border: 1.5px solid transparent;
 color: #017ADB;
 border-radius: 4px;
 transition: all 0.3s;
 position: relative;
 cursor: pointer;
 font-size: 16px;
 text-transform: uppercase;
}

.botonIngresar:after{
    content: "";
    width: 20px;
    height: 20px;
    border-top: 2px solid #017ADB;;
    border-left: 2px solid #017ADB;;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    transition: all 0.2s;
}

.botonIngresar:before{
    content: "";
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #017ADB;;
    border-right: 2px solid #017ADB;;
    position: absolute;
    left: -1;
    bottom: 0;
    right: 0;
    top: -1;
    transition: all 0.4s;
}

.botonIngresar:hover:after{
    width: 201px;
    height: 70px;
}
.botonIngresar:hover:before{
    width: 201px;
    height: 70px;
}